.container {
    @media print {
        padding: 0;
        margin: 10px 0 0 0;
    }
    .align-center {
        margin: 0 auto;
        width: 80%;
        @media print {
            width: 100%;
        }
        &>div:not(.table):not(.footer) {
            @media print {
                background-color: rgb(136, 136, 136);
                font-size: 1.3em;
            }

            background-color: #7a27a0;
            text-align: center;
            width: 100%;
            font-size: 2em;
            padding: 10px 0;
        }
        .table {
            @media print {
                font-size: .8em;
            }
            font-size: 1em;
            color: black;
            background-color: rgb(255, 255, 255);
            line-height: 1em;
            .tr {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                &:nth-of-type(odd):not(.header) {
                    div:nth-of-type(1), div:nth-of-type(2), div:nth-of-type(3) {
                        background-color: #e3e3e3;
                    }
                    @media print {
                        div:nth-of-type(1), div:nth-of-type(2), div:nth-of-type(3), div:nth-of-type(4), div:nth-of-type(5), div:nth-of-type(6) {
                            background-color: #e3e3e3;
                        }
                    }   
                }

                & + .tr {
                    div:nth-of-type(4), div:nth-of-type(5), div:nth-of-type(6) {
                        text-align: right;
                    }
                }

                div {
                    padding: 5px;
                    box-sizing: border-box;


                    &:nth-of-type(4) {
                        border-left: 5px solid #000 !important;
                    }

                    &:nth-of-type(4),&:nth-of-type(5),&:nth-of-type(6) {
                        @media print {
                            background-color: white;    
                        }
                        background-color: #e1dd6c;
                        
                    }
                
                   

                   & + div {
                        border-left: 1px solid #000;
                   }
                }
                &:nth-of-type(1) { 
                    // header
                    background-color: rgb(189, 189, 189);
                   
                    
                    div:nth-of-type(4), div:nth-of-type(5), div:nth-of-type(6) {
                        @media print {
                            background-color: inherit;
                        }

                        background-color: #bebb51;
                        
                    }

                }
            }
        }
        .footer {
            background-color: white;
            font-size: .8em;
            color: black;
            margin: 0;
            padding: 5px;
            ul {
                line-height: 1.5em;
                padding: 0;
                margin:50px 0 10px 15px;
                li {
                    
                }
            }
        }
    }
}