.hidden {
    display: none;
}


.align-right {
    text-align: right;
   
}

.spacer {
    flex: 1 1 auto;
}
.container {
    padding: 5px;
}

.small_input {
    font-size: 12px;

    & mat-form-field {
        width: calc(50% - 4px);
        margin: 2px;
    }
    
    span {
        display: inline-block;
        width: 80px;
    }
}

.of_auto {
    display: flex;
    gap: 1rem;
}

.of_2 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.of_3 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

.of_4 {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}


mat-toolbar {
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}