<mat-toolbar color="primary">
  <span>Application</span>
</mat-toolbar>
<div class="container of_3">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h4>Enter Variables</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="of_2 small_input">
        <div>
          <span>Room Type</span>
          <mat-form-field appearance="outline">
              <!-- <mat-label>Room Plan</mat-label> -->
              <mat-select [(ngModel)]="valRoomType">
                <mat-option *ngFor="let roomType of roomTypes; index as i" [value]="roomType.viewValue">
                  {{roomType.viewValue}}
                </mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <div>
          <span>Width</span>
          <mat-form-field appearance="outline">
            <!-- <mat-label>Width</mat-label> -->
            <input matInput type="number" [(ngModel)]="valWidth" (input)="updateInputs()">
            
          </mat-form-field>
        </div>
        <div>
          <span>Height</span>
          <mat-form-field appearance="outline">
            
            <input matInput type="number" [(ngModel)]="valHeight" (input)="updateInputs()">
          </mat-form-field>
        </div>
        <div>
          <span>Quantity</span>
          <mat-form-field appearance="outline">
            <input matInput type="decimal" [(ngModel)]="quantity" (input)="updateInputs()">
          </mat-form-field>
        </div>
        <div>
          <span>Sqr.Ft</span>
          <mat-form-field appearance="standard">
            <input matInput type="decimal" disabled [ngModel]="sqrFt">
          </mat-form-field>
        </div>
        
      </div>
    </mat-card-content>
    

  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h4>Pricing</h4>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="of_2 small_input">
        <div>
          <span>Retail Price</span>
          <mat-form-field appearance="outline">
            <input matInput type="decimal" [(ngModel)]="basePrice" (input)="updateInputs()">
          </mat-form-field>
        </div>
        <div>
          <span>Discount (%)</span>
          <mat-form-field appearance="outline">
            <input matInput type="number" [(ngModel)]="discount" (input)="updateInputs()">
          </mat-form-field>
        </div>
        <div>
          <span>Quantity Discount (%)</span>
          <mat-form-field appearance="outline">
            <input matInput type="number" [(ngModel)]="discount2" (input)="updateInputs()">
          </mat-form-field>
        </div>
        <div>
          <span>Price</span>
          <mat-form-field appearance="standard">
            <input matInput type="decimal" disabled [ngModel]="valPrice">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card [ngClass]="{'hidden': valRoomType === ''}">
    <mat-card-header>
      <mat-card-title>
        <h4>{{valRoomType}}</h4>
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>