
.hidden {
    display: none;
}

.align-right {
    text-align: right;
}

.spacer {
    flex: 1 1 auto;
}

.container {
    padding: 10px;
}


.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
        width: auto;
        height: auto;
        pointer-events: none;
    }
}

.small_input {
    font-size: 12px;

    & mat-form-field {
        width: calc(50% - 4px);
        margin: 2px;
    }
    
    span {
        display: inline-block;
        width: 80px;
    }
}

.of_auto {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(450px,auto));
}

.of_2 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.of_3 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.of_4 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.of_5 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
hr + mat-icon {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(75, 75, 75);
    border-radius: 15px;
  
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 80px!important;
    height: 0!important;
    min-height: 40px;
    padding: 0 3px !important;
    margin: 3px 1px !important;
    text-transform: capitalize;
    
    // background-color: rgba(255, 255, 255, 0.186)!important;
}

::ng-deep.mat-tab-label:hover .icon-container {
    visibility: visible !important;
}



.table header, .table .content .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    position: relative;
    
    .icon-container {
        width: 10px;
        height: 10px;
        position: absolute;
        top: 5px;
        right: 5px;
        border: none;

        mat-icon {
            font-size: 15px;
        }
    }

    & div {
        padding: 3px 5px;
        border-left: 1px solid #ddd;
        text-align: center;
    }
}


.table .content {position: relative;}
.table .content .total {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    
    & div {
        padding: 3px 5px;
        text-align: center;
    }
}

mat-card.calcCard {
    
    .table {
        margin-top: 30px;
        
        header {
        font-weight: bold;
        border-bottom: 4px solid #ddd;
        letter-spacing: 1.5px;
    
            & div {
                padding-bottom: 4px;
            }
        }
    
        hr {
            margin: 12px 0 0 0;
            & + span {
                position: absolute;
                top: -8px;
                left: 50%;
                padding: 0 10px;
                transform: translateX(-50%);
                background-color: #424242;
            }
        }
    }

    padding: 0 5px 5px 5px;

    .icon-container.addTab {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 45px;
        
        z-index: 10;
        color: rgba(255, 255, 255, 0.452);

    }
    .nameContainer {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: right;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.452);
        padding: 5px 0;
       
        a {
            display: visible;
            &:hover {
                color: royalblue;
                text-decoration: underline;
            }
        }
        
        div {
           display: none;
           height: 20px;
            .icon-container {
                width: 20px;
                height: 20px;
                display: flex;
                background-color: seagreen;
                border-radius: 2px;
                border: 1px solid #ddd;
                box-sizing: border-box;

                
                mat-icon {
                    font-size: 10px;
                    width: 10px;
                    height: auto;
                    
                }
            }
            input {
                margin-right: 2px;
                width: 70px;
            }
        }
    }

    
    input {
        border: none;
        text-align: center;
        text-transform: capitalize;

        &[disabled] {
            background-color: transparent;
            border: none;
            color: rgba(255, 255, 255);
            
        }
    }
    
   
    .icon-container.closeTab {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 15px;
        height: 15px;
        
        
        mat-icon {
            font-size: 10px;
            vertical-align: middle;
            width: auto;
            height: auto;
        }

        &:hover {
            cursor: pointer;

            mat-icon {
                color: rgba(255, 255, 255);
            }
        }
    }

    .of_4 div {
        display: flex;
        justify-content: center;
        align-items: center;

        mat-form-field {
            width: 100px;
        }
    }

    
}

::ng-deep .mat-tab-header {
    padding-right: 35px !important;
}