/* You can add global styles to this file, and also import other style files */

html, body, .app-frame {height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hidden {display: none;}
.align-right {text-align: right;}
.spacer {flex: 1 1 auto;}
.container {padding: 10px;}
mat-form-field + br + i {
  color: lightcoral;

  position: relative;
  top: -15px;
}


.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
      width: auto;
      height: auto;
      pointer-events: none;
  }
}

/* scrollbar base */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #313131;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* display a keyboard key */
  .keyboardKey {
    border: white solid 2px;
    border-radius: 5px;
    display: inline-block;
    padding: 0 6px;
    margin: -5px 5px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1.5px;
  }

  :root {
    --primary-color: #7b1fa2;
    --secondary-color: #f1f1f1;
  }

  .of_auto, .of_2, .of_3, .of_4, .of_5 {
    
    @media screen and (max-width: 570px) {
      grid-template-columns: 1fr !important;
    }
  }

.of_auto {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(450px,auto));
}

.of_2 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.of_3 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.of_4 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

.of_5 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}

.pagination {
  height: 25px;
  background-color: black;
  position: relative;
  display: flex;

  .left, .right {
    padding: 0 20px;

    &:hover {
      cursor: pointer;
      background-color: rgb(46, 46, 46);
    }
  }
  .left {
    margin-left: auto;

  }
  .right {

  }
}